.global{width: 100%;font-family: "STKaiti";}
.top{background-color: #F8C536;margin-top: -10px; padding-top: 2px;}
.top-tip{margin-left: 250px;width: 1000px;height: 30px;font-size: 22px;background-color: #F8C536;}
.top-tip span{padding-left: 10px;}
a{text-decoration: none;color: #ffffff;}
.top-main{margin-left: 250px;width: 1000px;height:100px;background-color: #F8C536;color: #FFFFFF;font-size: 18px;}
.nav{background-color: #B78100;padding-top: 2px;}
.top-nav{margin-left: 250px; width:1000px;height:40px;font-size:28px;background-color: #B78100;}
.top-nav td{width:165px;height: 30px; text-align:center;}
.top-nav td:hover{background-color: #F8C536;}
.cen{background-color: #F8C536;height: 1210px;padding-top: 20px;}
.cen-top{margin-left: 250px;width: 1000px;background-color: #ffffff;}
.cen-top-tab td{width: 350px;}
.cen-nav{margin-left: 250px;width:1000px;}
.tab-box{width:1000px;margin-top: 120px;}
.tab-box-cart{float: right;font-size: 14px;font-family: "arial black";}
.tab-box-cart a:hover{color: #ff0101;}
.tab-head{height:31px;}
.tab-head-div{width:155.8px;font-size: 22px; height:30px;float:left;border-bottom:1px solid #ccc;border-right:1px solid #ccc;background:#15314F;line-height:30px;text-align:center;cursor:pointer;color:#fff;padding: 5px;}
.tab-head .current{background:#fff;border-bottom:1px solid #fff;color:#000;}
.tab-head-r{border-right:0;}
.tab-body-div{display:none;}
.tab-body .current{display:block;}
.tab-body-tab{background-color: #ffffff;width: 1000px;padding: 20px;text-align: center;}
.price{color: #ff0000;}
.name{text-align: center;width: 250px;}
.name1{text-align: center;width: 250px;}
.btn{float: right; width: 130px; background-color: #F45C52; color: #FFFFFF; text-align: center;border: none;border-radius: 5px 5px 5px 5px;}
.btn:hover{background-color: #ff0000;}
.bot{background-color: #F8C536;height: 270px;padding-top: 30px;}
.bot-part{clear:both;width: 1000px;margin-left: 250px; float:left;background-color: #FFFFFF;}
.bot-part select{width: 120px;height: 40px; font-size: 18px;color: #2D96E9; border: none;}
.foot{background-color: #333333;color: #7A7A7A;text-align: center;padding: 20px;}